logging:
    file:
        name: /logs/board.log
    level:
        jdbc:
            resultsettable: debug
            sqlonly: debug
            sqltiming: debug
        root: info
        org.springframework.web: DEBUG

server:
    port: 8080
    servlet:
        context-path: /
spring:
    application:
        name: FarmStory
        version: ${version}
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        password: Qwe123!`
        url: jdbc:mysql://52.79.87.164:3306/farmstory
        username: farmstory
    devtools:
        livereload:
            enabled: true
    jpa:
        database: mysql
        hibernate:
            ddl-auto: update
            naming:
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        properties:
            hibernate:
                format_sql: true
                show_sql: true
    servlet:
        multipart:
            location: uploads/
    web:
        resources:
            static-locations:
                - classpath:/static/
                - file:uploads/
    thymeleaf:
        cache: false
        check-template-location: true
        enabled: true
        prefix: classpath:/templates/
        suffix: .html
    mail:
        host: smtp.gmail.com
        port: 587
        username: pkl1004125@gmail.com
        password: xplnhavdwzlgsvbd
        properties:
            mail:
                smtp:
                    port: 587
                    auth: true
                    timeout: 5000
                    starttls:
                        enable: true
    security:
        oauth2:
            client:
                provider:
                    google:
                        authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
                        token-uri: https://accounts.google.com/o/oauth2/token
                        user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
                        user-name-attribute: name
                    kakao:
                        authorization-uri: https://kauth.kakao.com/oauth/authorize
                        token-uri: https://kauth.kakao.com/oauth/token
                        user-info-uri: https://kapi.kakao.com/v2/user/me
                        user-name-attribute: id
                    naver:
                        authorization-uri: https://nid.naver.com/oauth2.0/authorize
                        token-uri: https://nid.naver.com/oauth2.0/token
                        user-info-uri: https://openapi.naver.com/v1/nid/me
                        user-name-attribute: response.id
                registration:
                    google:
                        client-id: 559399101303-bbip53quapt8ejncjf9jk6jl871q95p7.apps.googleusercontent.com
                        client-secret: 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
                        redirect-uri: http://ec2-52-79-87-164.ap-northeast-2.compute.amazonaws.com:8080/login/oauth2/code/google
                        scope:
                            - email
                            - profile
                    kakao:
                        client-id: 1fb75ab225c4c95ce1ea2426169a9c31
                        client-secret: LgMJYlccYakpMYyjcWuAthVSOF5Yc1PG
                        redirect-uri: http://ec2-52-79-87-164.ap-northeast-2.compute.amazonaws.com:8080/login/oauth2/code/kakao
                        authorization-grant-type: authorization_code
                        client-authentication-method: client_secret_post
                        scope: profile_nickname,account_email
                        client-name: kakao
                    naver:
                        client-id: Y9IyZZGlVkBEySe5Athp
                        client-secret: RPOF5x94hE
                        redirect-uri: http://ec2-52-79-87-164.ap-northeast-2.compute.amazonaws.com:8080/login/oauth2/code/naver
                        authorization-grant-type: authorization_code
                        scope: profile
                        client-name: Naver

