<main  th:fragment="order">
    <div id="section2_main">
        <div id="section2_title">주문목록</div>
        <div id="article_wrapper">
            <div id="article1">
                <table id="o_prod_table">
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>주문번호</th>
                        <th>상품명</th>
                        <th>판매가격</th>
                        <th>수량</th>
                        <th>배송비</th>
                        <th>합계</th>
                        <th>주문자</th>
                        <th>주문일</th>
                        <th>확인</th>
                    </tr>
                    <tr th:each="order , i:${orderPageResponseDTO.orderDTOList}">
                        <td><input type="checkbox"></td>
                        <td>[[${order.orderNo}]]</td>
                        <td>[[${order.pName}]]</td>
                        <td>[[${order.price}]]</td>
                        <td>[[${order.totalQty}]]</td>
                        <td>[[${order.price}]]</td>
                        <td>[[${order.totalPrice}]]</td>
                        <td>[[${order.name}]]</td>
                        <td>[[${order.orderDate}]]</td>
                        <td><a href="#">[상세확인]</a></td>
                    </tr>
                </table>
            </div>
            <div id="o_prod_heading">
                <a href="#" id="prod_del">선택삭제</a>
            </div>
            <div id="list_num">
                <th:block th:if="${orderPageResponseDTO.prev}">
                    <a><</a>
                </th:block>
                <th:block th:each="num:${#numbers.sequence(orderPageResponseDTO.start, orderPageResponseDTO.end)}">
                    <a th:href="@{/admin/a_order(pg=${num})}" th:class="${num == orderPageResponseDTO.pg} ? 'num current' : 'num'">&#91;[[${num}]]&#93;</a>
                </th:block>
                <th:block th:if="${orderPageResponseDTO.next}">
                    <a>></a>
                </th:block>
            </div>
        </div>
    </div>
    </div>
</main>
</div>
