  <main th:fragment="product">
    <div id="section2_main">
        <div id="section2_title">상품목록</div>
        <div id="article_wrapper">
          <div id="article1">
            <table id="prod_table">
              <tr class="p_tr">
                <th><input type="checkbox"></th>
                <th>사진</th>
                <th>상품번호</th>
                <th>상품명</th>
                <th>구분</th>
                <th>가격</th>
                <th>재고</th>
                <th>등록일</th>
              </tr>
              <tr class="p_tr2"  th:each="product , i:${productPageResponseDTO.productList}">
                <td><input type="checkbox"></td>
                <td><img id="sample_img" th:src="@{'/uploads/product/'+${product.p_sName1}}" alt="sample"></td>
                <td>[[${product.pNo}]]</td>
                <td>[[${product.pName}]]</td>
                <td>[[${product.prodCateName}]]</td>
                <td>[[${product.price}]]</td>
                <td>[[${product.stock}]]</td>
                <td>[[${product.rdate}]]</td>
              </tr>
            </table>
          </div>
          <div id="p_prod_heading">
            <a href="#" id="p_prod_del">선택삭제</a>
            <a href="#" id="p_prod_reg">상품등록</a>
          </div>
          <div id="list_num">

            <th:block th:if="${productPageResponseDTO.prev}">
              <a><</a>
            </th:block>
            <th:block th:each="num:${#numbers.sequence(productPageResponseDTO.start, productPageResponseDTO.end)}">
              <a href="#">&#91;[[${num}]]&#93;</a>
            </th:block>
            <th:block th:if="${productPageResponseDTO.next}">
              <a>></a>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
