
<title>장바구니</title>
<link rel="stylesheet" th:href="@{/css/market_cart.css}">
  <div class="market_cart">
    <h3 class="tb_tit">장바구니 전체(0)</h3><!-- .tb_tit -->
    <table class="tb1">
      <colgroup>
        <col style="width: 11%">
        <col style="width: 5%">
        <col style="width: 10%">
        <col style="width: 15%">
        <col style="width: 10%">
        <col style="width: 10%">
        <col style="width: 10%">
        <col style="width: 10%">
        <col style="width: 10%">
      </colgroup>
      <tr>
        <th><input type="checkbox" class="checkbox"/></th>
        <th>이미지</th>
        <th>종류</th>
        <th>상품명</th>
        <th>수량</th>
        <th>할인</th>
        <th>포인트</th>
        <th>가격</th>
        <th>소계</th>
      </tr>
      <tr th:if="${#lists.size('cartList') eq 0}">
        <td colspan="9" class="td_first">장바구니에 상품이 없습니다.</td>
      </tr>
      <tr th:unless="${#lists.size('cartList') eq 0}" th:each="cart : ${cartList}">
        <td><input type="checkbox" class="checkbox"/></td>
        <td><img th:src="@{/uploads/product/}+${cart.productDTO.p_sName1}" alt="상품 이미지" /></td>
        <td th:text="${cart.productDTO.prodCate.prodCateName}">과일</td>
        <td th:text="${cart.productDTO.pName}">사과 500g</td>
        <td th:text="${cart.cartProdQty}">1</td>
        <td th:text="${cart.productDTO.discount}+'%'">10%</td>
        <td th:text="${cart.productDTO.point}+'p'">40p</td>
        <td th:text="${cart.productDTO.price}">4,000</td>
        <td><strong th:text="${cart.totalprice} + '원'">3,600</strong></td>
      </tr>
    </table><!-- .tb1 -->
    <button class="btnSD"><a href="#">선택삭제</a></button>
    <div class="order_final">
      <table class="tb2">
        <tr>
          <th colspan="2">전체합계</th>
        </tr>
        <tr>
          <td>상품수</td>
          <td>0</td>
        </tr>
        <tr>
          <td>상품금액</td>
          <td>0</td>
        </tr>
        <tr>
          <td>할인금액</td>
          <td>0원</td>
        </tr>
        <tr>
          <td>배송비</td>
          <td>0원</td>
        </tr>
        <tr>
          <td>포인트</td>
          <td>0원</td>
        </tr>
        <tr>
          <td>전체주문금액</td>
          <td>0</td>
        </tr>
      </table><!-- .tb2 -->
      <button class="btn_order"><a href="#">주문하기</a></button>
    </div><!-- .order_final -->

  </div>